<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CDN_FX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CDN_FX.Properties.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateCommunityXML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadNonUniqueTitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadSystemTitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCIAStringFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseIndividualFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultTMTicketDBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTMOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTDLEncTitleKeyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTDLOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTDLTikOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultNUSOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommunityXMLVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdate3DSDBXML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateTitlelistCSV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentTMTicketDBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTMOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTDLEncTitleKeyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTDLOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTDLTikOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentNUSOutputPath" serializeAs="String">
                <value />
            </setting>
        </CDN_FX.Properties.Settings>
    </userSettings>
</configuration>